@tailwind base;
@tailwind components;
@tailwind utilities;

.reg_background {
  background: linear-gradient(
    230deg,
    rgb(50, 84, 99) 0%,
    rgb(129, 134, 176) 55%,
    rgb(69, 79, 171) 100%
  );
}

.glass_window {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
