@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_bg {
  background-color: #393d48;
}

.sidebar_bg {
  background-color: #393d48;
}
.home_bg {
  background-color: #0d1321;
}

.create_post {
    margin: 5%;
    height: 85vh;
    width: 80vw;
  
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

.bg-post{
    background-color: #30343F;
}
/* create a rectangular design for each of the user posts and the post option */
